In [9]:
#Question1
x=[2,3,6]
y=x[0]*x[1]*x[2]
print(y)

36

In [2]:
#Question2
z=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
z.sort(key=lambda x:x[1])
print(z)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [19]:
#Question2

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3=dict(d1)
d3.update(d2)

for i,s in d1.items():
    for x,y in d2.items():
        if i==x:
            d3[i]=(s+y)      
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [27]:
#Question 4

z = int(input("Type a number: "))
Dict = {}
for i in range(1, z+1):
    Dict[i] = i*i

print(Dict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [31]:
#Question 5

list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def sort_tuple(X):
    return(sorted(X, key = lambda n: float(n[1]), reverse = True))
X = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print(sort_tuple(X))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [9]:
#Question 6
s={0, 1, 2, 3, 4}
for value,char in enumerate(s):
    print(char, end=' ')
print(s)

0 1 2 3 4 {0, 1, 2, 3, 4}

In [10]:
#Question 6
q={0, 1, 2, 3, 4}
q.add(5)
print(q)

{0, 1, 2, 3, 4, 5}

In [11]:
#Question 6
e={0, 1, 2, 3, 4}
e.remove(4)
print(e)

{0, 1, 2, 3}